<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">${DB_URL}</property>
        <property name="hibernate.connection.username">${DB_USER}</property>
        <property name="hibernate.connection.password">${DB_PASSWORD}</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

	<property name="hibernate.hbm2ddl.auto">none</property>
        
        <mapping class="utp.restaurant.model.Role"/>
    </session-factory>
</hibernate-configuration>